@using Redstore.Models; 
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-2">
            <h1>Give your Workout <br>A New Style!</h1>
            <p>
                Success isn't always about greatness. It's about consistency. Consistent<br>hard work gains
                success. Greatness will come.
            </p>
            <a href="@Url.Action("Index","Products",new { area=""})" class="btn">Explore Now &#8594;</a>
        </div>
        <div class="col-2">
            <img src="~/Chung/image/image1.png">
        </div>
    </div>
</div>

<div class="categories">
    <div class="small-container">
        <div class="row">
            @foreach (Products p in dungchung.getProdutcsQC())
            {
                <div class="col-3">
                    <img src="@Url.Content(p.imgSP)">
                </div>
            }

        </div>
    </div>
</div>
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        @foreach (Products p in dungchung.GetProductsNB())
        {
        <div class="col-4">
            <a href="products-details.html"><img src="@Url.Content(p.imgSP)"></a>
            <a href="products-details.html">
                <h4>@p.nameSP</h4>
            </a>
            <p>$@p.priceSP</p>
            @using (Html.BeginForm("addSP", "Home", FormMethod.Post, new { @id = "addToCartForm" }))
            {
                <input type="hidden" name="idSP" value="@p.idSP" />
                <button type="button" class="btn btn-block btn-primary addToCartBtn" id="">Add to Cart</button>
            }
        </div>
        }
    </div>


    <h2 class="title">Latest Products</h2>
    <div class="row">
        @foreach (Products p in dungchung.GetProductsNew())
        {
        <div class="col-4">
            <a href="products-details.html"><img src="@Url.Content(p.imgSP)"></a>
            <h4>@p.nameSP</h4>
            <p>$@p.priceSP</p>
            @using (Html.BeginForm("addSP", "Products", FormMethod.Post,new { @id = "addToCartForm" }))
            {
                <input type="hidden" name="idSP" value="@p.idSP" />
                <button type="button" class="btn btn-block btn-primary addToCartBtn" id="">Add to Cart</button>
            }
        </div>
        }
    </div>
</div>
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="~/Chung/image/image1.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on RedStore</p>
                <h1>Sports Shoes</h1>
                <small>
                    Buy latest collections of sports shoes online on Redstore at best prices from top brands
                    such as Adidas, Nike, Puma, Asics, and Sparx at your leisure at best prices.
                </small><br>
                <a href="@Url.Action("Index","Products",new { area=""})" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/Chung/image/user-1.png">
                <h3>Sean Parkar</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/Chung/image/user-2.png">
                <h3>Mike Smith</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/Chung/image/user-3.png">
                <h3>Mabel Joe</h3>
            </div>
        </div>
    </div>
</div>
